[submodule "web_ipa_english"]
    path = web_ipa_english
    url = https://github.com/humteresting/web_ipa_english.git

[submodule "web_value_worldcup"]
    path = web_value_worldcup
    url = https://github.com/humteresting/web_value_worldcup.git
